<div class="container">
    <h1>GenEx</h1>

    <p>This is an example web application for the Genesis platform that
    computes word frequencies of uploaded text files.</p>

    <form id="fileupload" action="/upload/" method="POST" enctype="multipart/form-data"
        data-file-upload="uploadOptions"
        data-ng-class="{'fileupload-processing': processing() || loadingFiles}">

        <div class="fileupload-buttonbar">
            <span class="btn btn-default fileinput-button">
                <i class="glyphicon glyphicon-cloud-upload"></i>
                Upload a txt file
                <input type="file" name="files[]" multiple accept="*.txt">
            </span>

            <div class="progress progress-striped active fade"
            data-ng-class="{pending: 'in'}[queue[queue.length-1].$state()]"
            data-file-upload-progress="queue[queue.length-1].$progress()">
                <div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div>
            </div>
        </div>

    </form>
</div>

<div class="container">
    <gen-table gen-options="tableOptions">
</div>
