<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bower_components/jquery.ui/themes/base/base.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bower_components/jquery.ui/themes/base/theme.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bower_components/jquery-file-upload/css/jquery.fileupload.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bower_components/jquery-file-upload/css/jquery.fileupload-ui.css">

<link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}genapp-genex/less/base.less">
